<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009189603519-p0vs31288taut9o7dv2cc2qug4kulhh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009189603519-p0vs31288taut9o7dv2cc2qug4kulhh2</string>
	<key>API_KEY</key>
	<string>AIzaSyAo5n8qj85N1Fj9sdiaCx3U6HQ6h6aX5nE</string>
	<key>GCM_SENDER_ID</key>
	<string>1009189603519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.verstand.verstand</string>
	<key>PROJECT_ID</key>
	<string>verstand-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>verstand-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009189603519:ios:7a5d136e0617bf00349e0a</string>
	<key>DATABASE_URL</key>
	<string>https://verstand-2023-default-rtdb.firebaseio.com</string>
</dict>
</plist>